.fixedHeaderContainer {
  box-sizing: border-box;
  background: #dd5555;
  color: #fff;
  height: 44px;
  padding-top: 4px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.fixedHeaderContainer header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  text-align: left;
}

.headerWrapper {
  margin: 0px auto;
  max-width: 1024px;
  padding: 0 10px;
}

.headerWrapper img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 1500px) {
  .headerWrapper {
    max-width: 1050px;
  }
}

@media only screen and (min-width: 1200px) {
  .headerWrapper {
    max-width: 900px;
  }
}

@media only screen and (min-width: 1024px) {
  .navigationWrapper {
    margin-left: auto;
    position: relative;
    width: 75%;
  }
}

.navigationWrapper nav {
  box-sizing: border-box;
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: auto;
}

@media only screen and (min-width: 1024px) {
  .navigationWrapper nav {
    background: none;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
  }
}

.liWrapper {
  flex: 0.5;
  text-align: center;
  margin: 0;
}

.liWrapper a {
  text-decoration: none;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 50px;
  transition: background-color 0.3s;
  padding-top: 6px;
  box-sizing: border-box;
  font-size: 1em;
}

.liWrapper a:hover {
  color: inherit;
}

@media only screen and (min-width: 1024px) {
  .liWrapper {
    flex: 0.3;
  }
  .liWrapper a {
    border: 0;
    color: #e8e8e8;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    padding: 6px 10px;
    height: auto;
  }
  .liWrapper a:hover {
    color: inherit;
  }
}

.ulWrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 50px;
  width: 100%;
  padding: 0;
  background: #dd5555;
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .ulWrapper {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -10px;
    padding: 0;
    background: none;
    width: auto;
  }
}

.navSearchWrapper {
  align-self: center;
  position: absolute;
  top: 15px;
  right: 10px;
  flex: 2 !important;
  width: 50%;
}

@media only screen and (min-width: 1024px) {
  .navSearchWrapper {
    position: relative;
    top: auto;
    right: auto;
  }
}

.autoSuggestWrapper {
  width: 100%;
}

.autoSuggestWrapper .react-autosuggest__container {
  position: relative;
}

.autoSuggestWrapper .react-autosuggest__suggestions-container {
  display: none;
}

.autoSuggestWrapper .react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.autoSuggestWrapper .react-autosuggest__suggestions-container--open {
  display: block;
  position: relative;
  background-color: #f9f9f9;
  font-weight: 300;
  font-size: 0.875em;
  color: #2c3e50;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.autoSuggestWrapper .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  color: #2c3e50;
  border: 1px solid #bdc3c7;
  border-top: none;
  list-style-type: none;
}

.autoSuggestWrapper .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.autoSuggestWrapper .react-autosuggest__suggestion--highlighted {
  background-color: rgba(189, 195, 199, 0.31);
}

.autoSuggestWrapper input {
  border: 1px solid #bdc3c7;
  border-bottom: none;
  color: #2c3e50;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 5px 0;
  padding-left: 10px;
  line-height: 1.4;
  font-size: 14px;
  width: 97%;
  outline: 0;
  box-shadow: none;
}

.inputGroupButton {
  color: #bdc3c7;
  position: absolute;
  padding: 7px;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  display: inline-block;
  right: 5px;
  top: -1px;
}

.thumbnail {
  width: 10%;
  margin: 0;
  display: inline;
}